
.vs/Photoshop/v16/.suo
.vs/Photoshop/v16/Browse.VC.db
.vs/Photoshop/v16/ipch/AutoPCH/d8c50da0ebd8d877/MAIN.ipch
.vs/Photoshop/v16/ipch/AutoPCH/a50eab491cb1054/MAIN.ipch
.vs/Photoshop/v16/ipch/AutoPCH/8aa88e78beb0d3e8/LODEPNG.ipch
.vs/Photoshop/v16/ipch/AutoPCH/8aa3fe83be947e35/MAIN.ipch
.vs/Photoshop/v16/Browse.VC.opendb
.vs/Photoshop/v16/Browse.VC.db-wal
.vs/Photoshop/v16/Browse.VC.db-shm
Photoshop/Debug/Photoshop.ilk
Photoshop/Debug/Photoshop.tlog/CL.command.1.tlog
Photoshop/Debug/Photoshop.tlog/CL.read.1.tlog
Photoshop/Debug/Photoshop.tlog/CL.write.1.tlog
Photoshop/Debug/Photoshop.tlog/link.command.1.tlog
*.tlog
Photoshop/Debug/vc142.idb
Photoshop/Debug/vc142.pdb
Photoshop/Photoshop.vcxproj.user
Photoshop/Release/lodepng.obj
Photoshop/Release/Main.obj
Photoshop/Release/Photoshop.exe.recipe
Photoshop/Release/Photoshop.iobj
Photoshop/Release/Photoshop.ipdb
*.log
Photoshop/x64/Debug/lodepng.obj
Photoshop/Release/vc142.pdb
Photoshop/x64/Debug/Main.obj
Photoshop/x64/Debug/Photoshop.exe.recipe
Photoshop/x64/Debug/Photoshop.ilk
Photoshop/x64/Debug/vc142.idb
Photoshop/x64/Debug/vc142.pdb
Release/Photoshop.exe
Release/Photoshop.pdb
x64/Debug/Photoshop.exe
x64/Debug/Photoshop.pdb
Photoshop/out.png
Photoshop/Debug/Photoshop.exe.recipe
Photoshop/Debug/lodepng.obj
Photoshop/Debug/Main.obj
Debug/Photoshop.pdb
Debug/Photoshop.exe
.vs/Photoshop/v16/ipch/AutoPCH/3bfa28ee5809e0d/LODEPNG.ipch
.vs/Photoshop/v16/ipch/AutoPCH/b052d26013bd89e6/MAIN.ipch
